[submodule "pinocchio"]
	path = pinocchio
	url = git@gitlab.inria.fr:jucarpen/pinocchio.git
	branch = pinocchio-3x
[submodule "hpp-fcl"]
	path = hpp-fcl
	url = git@github.com:humanoid-path-planner/hpp-fcl
	branch = hppfcl3x
[submodule "cmake"]
	path = cmake
	url = git@github.com:jrl-umi3218/jrl-cmakemodules.git
